# nvim plugin manager
.config/nvim/autoload/plug.vim*

# installed plugins nvim
.config/nvim/plugged

# nvim packer
.config/nvim/plugin

# installed plugins tmux
.config/tmux/plugins
.config/tmux/tmux_tokyonight_storm.tmux
